.App {
  text-align: center;
  border: 1px seagreen solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.nav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.leftside {
  float:left;
  width:25%;
}
.rightside {
  float:right;
  width:70%;
}
.header {
  height: 150px;
}
.content {
  border-top: 5px grey solid ;
  border-bottom: 5px grey solid;
}
.footer {
  height: 50px;
}

.r {
  border: 2px red solid;
}
.b {
  border: 2px blue solid;
}



